<form-account
        inline-template
        :id="{{ id }}"
        :name="{{ name }}"
        :numeral="{{ numeral }}"
        :account="{{ account }}"
>
    <div class="row">
        <b-modal
                size="lg"
                id="account-analytical-form"
                :title="'Analytický účet pro ' + accountNumeral + ' — ' + accountName"
                :no-close-on-backdrop="true"
                cancel-title="Zanechat"
                ok-title="Založit"
                @ok="submitModal"
                @cancel="resetModal"
                @close="resetModal"
        >
            <div class="modal-body">
                <form method="post" name="{{ form.vars['full_name'] }}" ref="contactForm">
                <div class="row">
                    <div class="col-4">
                        <input
                                type="hidden"
                                :id="id.id"
                                :name="id.name"
                                :value="payload.id"
                        >
                        <input
                                type="hidden"
                                :id="account.id"
                                :name="account.name"
                                :value="payload.account"
                        >
                        <input-text
                                v-model="payload.numeral"
                                v-bind="numeral"
                                label="Účet"
                        ></input-text>
                    </div>
                    <div class="col-8">
                        <input-text
                                v-model="payload.name"
                                v-bind="name"
                                label="Název"
                        ></input-text>
                    </div>
                </div>
                <input
                        type="hidden"
                        id="{{ form._token.vars['id'] }}"
                        name="{{ form._token.vars['full_name'] }}"
                        value="{{ form._token.vars['value'] }}">
                </form>
            </div>
        </b-modal>
    </div>
</form-account>
