<form-contact
        inline-template
        :id="{{ id }}"
        :name="{{ name }}"
        :address="{{ address }}"
        :phone="{{ phone }}"
        :email="{{ email }}"
        :registration-number="{{ registrationNumber }}"
        :is-vat-payer="{{ isVatPayer }}"
        :vat-number-prefix="{{ vatNumberPrefix }}"
        :vat-number="{{ vatNumber }}"
        :contact-detail-url="'{{ path('api_transaction_detail', {'id': ''}) }}'"
>
    <div class="row">
        <b-modal
                size="lg"
                id="contact-form"
                title="Kontakt"
                :no-close-on-backdrop="true"
                cancel-title="Zanechat"
                ok-title="Založit"
                @ok="submitModal"
                @cancel="resetModal"
                @close="resetModal"
        >
            <div class="modal-body">
                <form method="post" name="{{ form.vars['full_name'] }}" ref="contactForm">
                <div class="row">
                    <div class="col-5">
                        <input
                                type="hidden"
                                :id="id.id"
                                :name="id.name"
                                :value="payload.id"
                        >
                        <input-text
                                v-model="payload.registrationNumber"
                                v-bind="registrationNumber"
                                label="IČ"
                        ></input-text>
                    </div>
                    <div class="col-7">
                        <input-text
                                v-model="payload.name"
                                v-bind="name"
                                label="Název"
                        ></input-text>
                    </div>
                    <div class="col-3">
                        <input-checkbox
                                v-model="payload.isVatPayer"
                                v-bind="isVatPayer"
                                label="Plátce DPH"
                                :inline-label="false"
                        ></input-checkbox>
                    </div>
                    <div class="col-4">
                        <input-text
                                v-model="payload.vatNumberPrefix"
                                v-bind="vatNumberPrefix"
                                label="Prefix"
                        ></input-text>
                    </div>
                    <div class="col-5">
                        <input-text
                                v-model="payload.vatNumber"
                                v-bind="vatNumber"
                                label="DPH IČ"
                        ></input-text>
                    </div>
                    <div class="col-12">
                        <input-text
                                v-model="payload.address"
                                v-bind="address"
                                label="Sídlo"
                        ></input-text>
                    </div>
                    <div class="col-6">
                        <input-text
                                v-model="payload.phone"
                                v-bind="phone"
                                label="Telefon"
                        ></input-text>
                    </div>
                    <div class="col-6">
                        <input-text
                                v-model="payload.email"
                                v-bind="email"
                                label="Email"
                        ></input-text>
                    </div>
                </div>
                <input
                        type="hidden"
                        id="{{ form._token.vars['id'] }}"
                        name="{{ form._token.vars['full_name'] }}"
                        value="{{ form._token.vars['value'] }}">
                </form>
            </div>
        </b-modal>

        <div class="col text-right">
            <b-button
                    variant="success"
                    class="m-3"
                    v-b-modal.contact-form
            >
                Přidat
            </b-button>
        </div>
    </div>
</form-contact>
