{% extends "layout.base.html.twig" %}

{% block contents %}
    {% for type, accountCollection in accounts %}
        <div class="row">
            <div class="col-12">
                <p class="h3">{{ type }}</p>
            </div>
        </div>
        {% if accountCollection is not empty %}
            <div class="row">
                <div class="col-1 p-3 border text-right font-weight-bold">
                    Účet
                </div>
                <div class="col-3 p-3 border text-left font-weight-bold">
                    Název účtu
                </div>
                <div class="col-2 p-3 border text-center font-weight-bold">
                    Počáteční stav
                </div>
                <div class="col-2 p-3 border text-center font-weight-bold">
                    Obrat MD
                </div>
                <div class="col-2 p-3 border text-center font-weight-bold">
                    Obrat DAL
                </div>
                <div class="col-2 p-3 border text-center font-weight-bold">
                    Konečný zůstatek
                </div>
            </div>
            {% for account in accountCollection %}
                <div class="row">
                    <div class="col-1 p-3 border text-right">
                        {{ account.numeral }}
                    </div>
                    <div class="col-3 p-3 border text-left">
                        {{ account.name }}
                    </div>
                    <div class="col-2 p-3 border text-center">
                        {{ (account.totalBeginAmount/100)|number_format(2, '.', ',') }}
                    </div>
                    <div class="col-2 p-3 border text-center">
                        {{ (account.totalDebtorAmount/100)|number_format(2, '.', ',') }}
                    </div>
                    <div class="col-2 p-3 border text-center">
                        {{ (account.totalCreditorAmount/100)|number_format(2, '.', ',') }}
                    </div>
                    <div class="col-2 p-3 border text-center">
                        {{ (account.totalEndAmount/100)|number_format(2, '.', ',') }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                Nic zde zatím není
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
