{% extends "layout.base.html.twig" %}

{% block contents %}
  <div class="row mt-5">
    <div class="col-12 h3">
      Výpis účtu {{ account.numeral }} - {{ account.name }}
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-1 p-2 border text-right">
      Datum
    </div>
    <div class="col-2 p-2 border text-right">
      Číslo dokladu
    </div>
    <div class="col-6 p-2 border text-left">
      Popis
    </div>
    <div class="col-1 p-2 border text-right">
      MD
    </div>
    <div class="col-1 p-2 border text-right">
      D
    </div>
    <div class="col-1 p-2 border text-right">
      Protiúčet
    </div>
  </div>
  {% for record in records %}
    <div class="row">
      <div class="col-1 p-2 border text-right">
{#        {{ record.transaction.id }} --#}
{#        {{ record.id }} --#}
        {{ record.transaction.taxableSupplyDate|date('d.m.Y') }}
      </div>
      <div class="col-2 p-2 border text-left">
        {{ record.transaction.documentNumber }}
      </div>
      <div class="col-6 p-2 border text-right">
        {{ record.transaction.contact.name }} — {{ record.description }}
      </div>
      <div class="col-1 p-2 border text-right">
        {% if record.debtorsAccount.numeral == account.numeral %}{{ (record.amount/100)|number_format(2, '.', ',') }}{% else %}0{% endif %}
      </div>
      <div class="col-1 p-2 border text-right">
        {% if record.creditorsAccount.numeral == account.numeral %}{{ (record.amount/100)|number_format(2, '.', ',') }}{% else %}0{% endif %}
      </div>
      <div class="col-1 p-2 border text-right">
        {% if record.debtorsAccount.numeral == account.numeral %}{{ record.creditorsAccount.numeral }}{% else %}{{ record.debtorsAccount.numeral }}{% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block additionalStyles %}
  <style>
      @media print{
          body{
              font-size:10px;
          }
      }
  </style>
{% endblock %}
