{% extends "layout.base.html.twig" %}

{% block additionalStyles %}
  <link rel="stylesheet" href="{{ asset('build/autocomplete.css') }}">
{% endblock %}

{% block header %}Účty{% endblock %}

{% block contents %}
  <modal-account-remove
    :analytical-account-remove-url="'{{ path("accounts_analytical_api_remove") }}'"
  >
  </modal-account-remove>
  <form-account
    :form="{{ forms.account|json_encode }}"
    :token="{{ csrf_token('form_account')|json_encode }}"
  >
  </form-account>
  <div class="row">
    <div class="col-12">
      <page-accounts
        :accounts="'{{ accounts }}'"
      >
      </page-accounts>
    </div>
  </div>
{% endblock %}
