{% extends "layout.base.html.twig" %}

{% block header %}
  {% if trialBalance.date is defined and trialBalance.date is not null %}
    Obratová Předvaha ke dni {{ trialBalance.date }}<br>(Sestaveno {{ trialBalance.compiledDate }})
  {% else %}
    Obratová Předvaha ještě nebyla sestavena
  {% endif %}
{% endblock %}

{% block contents %}
  <component-statements-trial-balance-list
    :list-url="'{{ path("statement_trial_balance_api_list") }}'"
    :detail-url="'{{ path("statement_trial_balance") }}'"
    :remove-url="'{{ path("statement_trial_balance_api_remove") }}'"
  ></component-statements-trial-balance-list>
  <div class="card">
    <div class="card-header">
      <div class="card-tools">
        <form-trial-balance-compiler
          submit-url="{{ path('statement_trial_balance_api_compile') }}"
        ></form-trial-balance-compiler>
        <b-button
          variant="success"
          v-b-modal.trial-balance-statements-list
        >
          Jiné Obratové Rozvahy
        </b-button>
      </div>
    </div>
    <div class="card-body">
      {% if trialBalance.date is defined and trialBalance.date is not null %}
        {% for type, records in trialBalance.records %}
          <div class="row mt-5">
            <div class="col-12">
              <p class="h3">{{ type }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 p-2 border text-right font-weight-bold">
              Účet
            </div>
            <div class="col-5 p-2 border text-left font-weight-bold">
              Název účtu
            </div>
            <div class="col-1p5 p-2 border text-center font-weight-bold">
              Počáteční stav
            </div>
            <div class="col-1p5 p-2 border text-center font-weight-bold">
              Obrat MD
            </div>
            <div class="col-1p5 p-2 border text-center font-weight-bold">
              Obrat DAL
            </div>
            <div class="col-1p5 p-2 border text-center font-weight-bold">
              Konečný stav
            </div>
          </div>
          {% for record in records %}
            <div class="row">
              <div class="col-1 p-2 border text-right">
                {{ record['main'].account.numeral }}
              </div>
              <div class="col-5 p-2 border text-left">
                {{ record['main'].account.name }}
              </div>
              <div class="col-1p5 p-2 border text-right">
                {{ (record['main'].openingBalance/100)|number_format(2, '.', ',') }}
              </div>
              <div class="col-1p5 p-2 border text-right">
                {{ (record['main'].debtorBalance/100)|number_format(2, '.', ',') }}
              </div>
              <div class="col-1p5 p-2 border text-right">
                {{ (record['main'].creditorBalance/100)|number_format(2, '.', ',') }}
              </div>
              <div class="col-1p5 p-2 border text-right">
                {{ (record['main'].closingBalance/100)|number_format(2, '.', ',') }}
              </div>
            </div>
            {% if record['analytical'] is defined and record['analytical'] is not null %}
              <div class="row border p-3">
              {% for analyticalRecord in record['analytical'] %}
                  <div class="row">
                    <div class="col-1 p-2 border text-right">
                      {{ analyticalRecord.analyticalAccount.numeral }}
                    </div>
                    <div class="col-5 p-2 border text-left">
                      {{ analyticalRecord.analyticalAccount.name }}
                    </div>
                    <div class="col-1p5 p-2 border text-right">
                      {{ (analyticalRecord.openingBalance/100)|number_format(2, '.', ',') }}
                    </div>
                    <div class="col-1p5 p-2 border text-right">
                      {{ (analyticalRecord.debtorBalance/100)|number_format(2, '.', ',') }}
                    </div>
                    <div class="col-1p5 p-2 border text-right">
                      {{ (analyticalRecord.creditorBalance/100)|number_format(2, '.', ',') }}
                    </div>
                    <div class="col-1p5 p-2 border text-right">
                      {{ (analyticalRecord.closingBalance/100)|number_format(2, '.', ',') }}
                    </div>
                  </div>
              {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endif %}
    </div>
    <!-- /.card-body -->
    <div class="card-footer">

    </div>
    <!-- /.card-footer-->
  </div>
{% endblock %}
