{% extends "layout.base.html.twig" %}

{% block additionalStyles %}
  <link rel="stylesheet" href="{{ asset('build/autocomplete.css') }}">
{% endblock %}

{% block header %}Transakce{% endblock %}

{% block contents %}
  <form-transaction
    :form="{{ forms.transaction|json_encode }}"
    :token="{{ csrf_token('form_transaction')|json_encode }}"
    transaction-detail-url="{{ path('api_transactions_detail') }}"
    contact-search-url="{{ path('api_contacts_listing') }}"
    account-search-url="{{ path('api_accounts_listing') }}"
    analytical-account-search-url="{{ path('api_accounts_analytical_search') }}"
  >
  </form-transaction>

  <div class="row">
    <div class="col-12">
      <page-transactions
        :transactions-list-url="'{{ path("api_transactions_listing") }}'"
        :transaction-remove-url="'{{ path("api_transactions_remove") }}'"
      >
        <b-button
          variant="success"
          v-b-modal.transaction-form
        >
          Přidat
        </b-button>
      </page-transactions>
    </div>
  </div>
{% endblock %}
