{% extends "layout.base.html.twig" %}

{% block additionalStyles %}
  <link rel="stylesheet" href="{{ asset('build/autocomplete.css') }}">
{% endblock %}

{% block header %}Transakce{% endblock %}

{% block contents %}
  <form-transaction
    :form="{{ forms.transaction|json_encode }}"
    :token="{{ csrf_token('form_transaction')|json_encode }}"
    transaction-detail-url="{{ path('transactions_api_detail') }}"
    contact-search-url="{{ path('contacts_api_search') }}"
    account-search-url="{{ path('accounts_api_search') }}"
  >
  </form-transaction>

  <div class="row">
    <div class="col-12">
      <page-transactions
        :transactions-list-url="'{{ path("transactions_api_list") }}'"
        :transaction-remove-url="'{{ path("transaction_api_remove") }}'"
      >
        <b-button
          variant="success"
          v-b-modal.transaction-form
        >
          Přidat
        </b-button>
      </page-transactions>
    </div>
  </div>
{% endblock %}
