{% extends "layout.base.html.twig" %}

{% block additionalStyles %}
    <link rel="stylesheet" href="{{ asset('build/autocomplete.css') }}">
{% endblock %}

{% block contents %}
    {% include 'component.transaction.add.html.twig' %}
    <div class="row">
        <div class="col-1 p-3 border text-right font-weight-bold">
            Datum
        </div>
        <div class="col-7 p-3 border text-left font-weight-bold">
            Popis
        </div>
        <div class="col-2 p-3 border text-center font-weight-bold">
            Kontakt
        </div>
        <div class="col-2 p-3 border text-center font-weight-bold">
            Akce
        </div>
    </div>

    {% for key, transaction in transactions %}
        <div class="row">
            <div class="col-1 p-2 border text-right">
                {{ transaction.taxableSupplyDate|date('d.m.Y') }}
            </div>
            <div class="col-7 p-2 border text-left">
                <button-arrow
                        :indexkey="'{{ key }}'">
                </button-arrow>
                {{ transaction.description }}
            </div>
            <div class="col-2 p-2 border text-center">
                {{ transaction.contact.name }}
            </div>
            <div class="col-2 p-2 border text-center">
                <link-icon inline-template>
                    <i
                            class="pt-1 pr-2 pb-1 pl-2 cursor-pointer fas fa-edit"
                            v-b-modal.transaction-add
                            @click="emitEvent('transactionEdit', {{ transaction.id }})"
                    ></i>
                </link-icon>
                <link-icon inline-template>
                    <i
                            class="pt-1 pr-2 pb-1 pl-2 cursor-pointer far fa-copy"
                            v-b-modal.transaction-add
                            @click="emitEvent('transactionClone', {{ transaction.id }})"
                    ></i>
                </link-icon>
                <link-icon inline-template>
                    <i
                            class="pt-1 pr-2 pb-1 pl-2 cursor-pointer fas fa-trash-alt text-danger"
                            @click="emitEvent('transactionRemove', {{ transaction.id }})"
                    ></i>
                </link-icon>
            </div>
        </div>
        <b-collapse id="collapse-{{ key }}" class="row">
            <div class="col-12 border p-3">
                <div class="container">
                    <div class="row">
                        <div class="col-8 p-1 border font-weight-bold">
                            Popis
                        </div>
                        <div class="col-2 p-1 border text-center font-weight-bold">
                            Částka
                        </div>
                        <div class="col-1 p-1 border text-center font-weight-bold">
                            MD
                        </div>
                        <div class="col-1 p-1 border text-center font-weight-bold">
                            D
                        </div>
                    </div>
                    {% for trow in transaction.rows %}
                    <div class="row">
                        <div class="col-8 p-1 border">
                            {{ trow.description }}
                        </div>
                        <div class="col-2 p-1 border text-center">
                            {{ (trow.amount / 100)|number_format(2, '.', ',') }}
                        </div>
                        <div class="col-1 p-1 border text-center">
                            {{ trow.debtorsAccount.numeral }}{% if trow.debtorsAccountAnalytical %}.{{ trow.debtorsAccountAnalytical.numeral }}{% endif %}
                        </div>
                        <div class="col-1 p-1 border text-center">
                            {{ trow.creditorsAccount.numeral }}{% if trow.creditorsAccountAnalytical %}.{{ trow.creditorsAccountAnalytical.numeral }}{% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </b-collapse>
    {% endfor %}
{% endblock %}
